@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your global CSS or inside the <style> tag of your Next.js project */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}
